.bg-dark {
    background-color: #009966!important;
}


.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
    text-align: right;
    position: absolute;
    margin-top: -6px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

nav.navbar ul li > ul {
  background: #009966;
  box-shadow: none;
}

.dropdown-item:hover{
	background: #28a745;
	color: #fff;
}

.bg-dark {
    background-color: #009966 !important;
}

.btn-purple {
    color: #fff;
    background-color: #493992;
    border-color: #493992;
}

